<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <title>navigation bar</title>
    <meta name="description" content="navigation bar component" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable-dynamic-subset.min.css"
      crossorigin
    />
    <link rel="icon" href="/public/favicon/favicon_logo.svg" type="image/svg" />
    <link rel="stylesheet" href="./../../../src/main.css" />
    <link rel="stylesheet" href="./navigation-bar.css" />
    <script type="module" src="/"></script>
  </head>
  <body>
    <nav class="navigationBar">
      <ul class="navigationList">
        <li class="navigationItem navigationHome isSelected"><a href="#">HOME</a></li>
        <li class="navigationItem navigationFavorites"><a href="#">FAVORITES(0)</a></li>
        <li class="navigationItem navigationAuthors"><a href="#">AUTHORS</a></li>
        <li class="navigationItem navigationAbout"><a href="#">ABOUT</a></li>
      </ul>
    </nav>
  </body>
</html>
