.navigationBar {
  --gap: var(--gap-10, 0.625rem);

  .navigationList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap);
    padding-block: .625rem;

    color: var(--primary-light, #f5fff8);
    font-family: 'Pretendard Variable';
    font-size: var(--font-size-14, 0.875rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    .isSelected {
      color: var(--primary-700, #04b135);
      font-weight: 600;
    }

    @media (width >= 700px) {
      flex-direction: column;
      padding-block-start: 1rem;
      padding-inline-start: 1rem;

      font-size: var(--font-size-20, 1.25rem);

      .isSelected {
        font-size: var(--font-size-20, 1.25rem);
      }
    }
  }
}
