body {
  background-color: var(--gray-background);
}

.bookListWrapper {
  display: flex;
  flex-flow: row wrap;
  min-inline-size: 320px;
  max-inline-size: 1280px;
  margin: 0 auto;
  padding-inline: 28px;
  padding-block-start: 20px;
  row-gap: 20px;
  column-gap: 30px;
}

@media (min-width: 700px) {
  .cardImageContents img {
    display: block;
    inline-size: 197px;
    block-size: 238px;
  }
}

@media (min-width: 700px) {
  main {
    display: flex;
    flex-flow: row nowrap;
  }
}
