<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <title>Go to top</title>
    <meta name="description" content="go-to-top button component" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/variable/pretendardvariable-dynamic-subset.min.css"
      crossorigin
    />
    <link rel="icon" href="/public/favicon/favicon_logo.svg" type="image/svg" />
    <link rel="stylesheet" href="./go-to-top.css" />
    <script type="module" src="../../main.js"></script>
  </head>
  <body>
    <button type="button" class="goToTopButton" aria-label="맨 위로 이동">
      <img src="../../assets/images/icons/go_to_top.svg" alt="" />
      <span class="sr-only">맨 위로 이동</span>
    </button>
  </body>
</html>
