body {
  background-color: black;
  background-image: url(./../assets/images/bg/bg.jpg);
  margin: 20px;
}

.profileCard {
  /* Layout */
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  
  /* Box property */
  padding-inline: 1.875rem;
  padding-block: 2.6875rem 1.25rem;
  inline-size: 16.875rem;
  block-size: 17.8125rem;
  border-radius: 30px;
  box-shadow:
    0.125rem 0.125rem 0.375rem 0rem #ffffff40 inset,
    0.4375rem 0.375rem 0.875rem 0rem #00000040;

  /* Background property */
  background-color: #00000040;
  backdrop-filter: blur(10px);

  color: var(--primary-light, #F5FFF8);
  font-family: 'Pretendard Variable';
  font-style: normal;
  line-height: 1.3125rem;

  @media (width >= 700px) {
    inline-size: 21.875rem;
  }

  .profileCardInfoBox {
    display: flex;
    flex-direction: row;
    gap: .3125rem;

    .profileCardGithub {

      .githubButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
    
        color: var(--primary-light);
        text-decoration: none;
      }
    
      .githubButton .githubLabel {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: var(--font-size-20);
        margin-inline-end: 0.25rem;
      }
    }

    .profileCardAbout {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      line-height: 1.3125rem;

      .profileCardDeveloperName .developerName{
        font-size: var(--font-size-18, 1.125rem);
        font-weight: 700;
      }

      .profileCardDeveloperName .developerNickName {
        display: block;
        line-height: 1.3125rem;
        font-size: var(--font-size-14, .875rem);
        font-weight: 400;
        white-space: nowrap;

        @media (width >= 700px) {
          display: inline;
        }
      }

    }
  }

  .profileCardComment {
    inline-size: 13.125rem;

    @media (width >= 700px) {
      inline-size: 18.125rem;
    }
  }
}