:root {
  /* 색상 */
  --light: #FFFFFF;
  --dark: #131313;

  --gray-100: #F7F7F7;
  --gray-200: #DEDEDE;
  --gray-300: #C4C4C4;
  --gray-400: #ABABAB;
  --gray-500: #919191;
  --gray-600: #787878;
  --gray-700: #5E5E5E;
  --gray-800: #454545;
  --gray-900: #2B2B2B;


  --primary-light: #F5FFF8;
  --primary-100: #E6FEED;
  --primary-200: #B4FDC9;
  --primary-300: #82FCA5;
  --primary-400: #50FB81;
  --primary-500: #1FFA5D;
  --primary-600: #05E043;
  --primary-700: #04B135;
  --primary-800: #037D25;
  --primary-900: #024B16;
  --primary-dark: #011907;

  color-scheme: light dark;

  /* 글자크기 */
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;

  /* 여백 */
  --padding-10: .625rem;
  --padding-16: 1rem;
  --padding-18: 1.125rem;
  --padding-24: 1.5rem;

  --margin-16: 1rem;
  --margin-18: 1.125rem;
  --margin-20: 1.25rem;
  --margin-28: 1.75rem;
  --margin-32: 2rem;

  /* radius */
  --radius-12: .75rem;
  --radius-32: 2rem;
  --radius-48: 3rem;

}